


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
background-color: #F8F8F8;
}

@font-face {
    font-family: 'CodeNext-Bold';
    src: url('../fonts/CodeNext-Trial-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'CodeNext-SemiBold';
    src: url('../fonts/CodeNext-Trial-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'CodeNext-Regular';
    src: url('../fonts/CodeNext-Trial-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'CodeNext-Light';
    src: url('../fonts/CodeNext-Trial-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Kamerik105Cyrillic-Book';
    src: url('../fonts/Kamerik105Cyrillic-Book.ttf') format("truetype");
}

@font-face {
    font-family: 'Kamerik105Cyrillic-Light';
    src: url('../fonts/Kamerik105Cyrillic-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Kamerik105Cyrillic-Heavy';
    src: url('../fonts/Kamerik105Cyrillic-Heavy.ttf') format("truetype");
}

@font-face {
    font-family: 'Kamerik105Cyrillic-Bold';
    src: url('../fonts/Kamerik105Cyrillic-Bold.ttf') format("truetype");
}


h1{
padding-top: clamp(20px, 25vw, 150px);
font-family: Kamerik105Cyrillic-Bold;
font-size: 1.06vw;
font-size-adjust:auto;
text-align: center;
}

h5{
font-family: CodeNext-SemiBold;
font-size-adjust:auto;
text-align: center;
}

.like_button {
background-color: #F8F8F8;
border: none;
}


.like_button:focus,
.like_button:hover,
.like_button:active{
background-color: #F8F8F8;
}


body {
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

[class^="box-"] {
  display: grid;
}

.containergallery {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(14, 1fr);
}

.containermain {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(14, 1fr);
}


.box-1 {
     grid-column-start: 2;
     grid-column-end:8;
}

.box-2 {
     grid-column-start: 11;
     grid-column-end: 14;
}



.header1 {
    font-family: Kamerik105Cyrillic-Book;
    font-size: 1.06vw;
    color: white;
    background-color: black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a{
font-family: Kamerik105Cyrillic-Bold;
text-decoration: none;
color: white;
}


.active{
font-family: Kamerik105Cyrillic-Bold;
border-bottom: 2px solid white;
padding-bottom: 0.11em;
}

.not_active{
font-family: Kamerik105Cyrillic-Book;
position: relative;
color: white;
cursor: pointer;
line-height: 1;
}

.not_active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #F8F8F8;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.not_active:hover:after,
.not_active:focus:after {
opacity: 1;
transform: translate3d(0, 0.2em, 0);

}




.textmain{
    font-family: Kamerik105Cyrillic-Book;
    font-size:1.06vw;
    font-size-adjust:auto;
    text-align: center;
    line-height: 200%;
}

.galleryblock{
border-width: 10px 1px 10px 1px;
}


.containerforms{
        background-color: #F8F8F8;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
       }


.forms{

    width: 330px;
    height:330px;
    font-family: Kamerik105Cyrillic-Book;
    font-size: 22px;
    border: 15px solid black;
    background-color: #F8F8F8;
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;


}

.forms2{
    width: 330px;
    height:460px;
    font-family: Kamerik105Cyrillic-Book;
    font-size: 22px;
    border: 15px solid black;
    background-color: #F8F8F8;
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;


}



.input {
  font-family: Kamerik105Cyrillic-Light;
  font-size: 1.272vw;
  border: none;
  border-bottom: 2px solid black;
  background-color: #F8F8F8;
  outline: none;

}

.input:focus,
.input:active{
border-bottom: 3px solid black;
}

.input2 {
  font-family: Kamerik105Cyrillic-Light;
  font-size: 1.272vw;
  width: 500px;
  border: none;
  border-bottom: 2px solid black;
  background-color: #F8F8F8;
  outline: none;

}

.input2:focus,
.input2:active{
border-bottom: 3px solid black;
}

.input3 {
  font-family: Kamerik105Cyrillic-Light;
  font-size: 1.272vw;
  width: 500px;
  height: 100px;
  border: 2px solid black;
  background-color: #F8F8F8;
  resize: none;


}

.input3:focus,
.input3:active{
border: 3px solid black;
}

button{
font-family: Kamerik105Cyrillic-Book;
font-size: 20px;
color: white;
background-color: black;
padding: 5px 10px;
border: none;
}

button:focus,
button:hover,
button:active{
background-color: #48494B;
}

.goback{
font-family: CodeNext-Bold;
font-size: 22px;
}




.gallery_all{
    font-family: Kamerik105Cyrillic-Book;
    line-height: 165%;
    font-size:1.06vw;
  overflow: hidden;
   -webkit-column-count:3;
     -moz-column-count: 3;
          column-count: 3;
  margin-top: clamp(5px, 25vw, 100px);


}
.gallery_block{
-webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
align-self: start;
display: inline-flex;
flex-wrap: wrap;
flex-direction: column;
flex: auto;
border: solid black;
overflow: auto;
border-width: 18px 2px 18px 2px;
padding: clamp(5px, 25vw, 24px);
margin-top: clamp(10px, 25vw, 10px);
margin-bottom: clamp(10px, 25vw, 10px);
}



.flex_space_between{
display: flex;
flex-wrap: wrap;
justify-content: space-between;}

.flex_space_center{
display: flex;
justify-content: center;}


}

.button_main{
font-family: Kamerik105Cyrillic-Bold;
font-size: 0.92vw;
background: #000000;
border: 3.4px solid #F8F8F8;
padding: 11px 20px;

}

.button_main:hover{
background: #F8F8F8;
border: 3.4px solid #000000;
}

.profile_form1{
background-color: black;
}

.profile_form2{
background-color: #F8F8F8;
border: 8px solid black;
}

.button_profile input[type="file"]{
display: none;
}

.button_profile{
position: relative;
overflow: hidden;
outline: none;
text-decoration: none;
width: 114px;
height 100px;
border: none;
background-color: #F8F8F8;
}

#file-input{
display: none;
}

#proba label{
font-family: Kamerik105Cyrillic-Bold;
color: black;
font-size: 1.1vw;
padding: 6px 11px;
background-color: #F8F8F8;
}

.accordion{
margin-top: 100px;
}

.accordion-item{
margin-bottom: 20px;
}

.accordion-item--active .accordion-item__content{
display: block;
}

.accordion-item--active .accordion-item__trigger{
border: none;
}

.accordion-item__trigger {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: clamp(10px, 25vw, 18px);
font-family: Kamerik105Cyrillic-Bold;
font-size: 1.484vw;
font-size-adjust:auto;
text-align: left;

}

.accordion-item__content{
padding-top: clamp(10px, 25vw, 25px);
font-family: Kamerik105Cyrillic-Book;
font-size-adjust:auto;
font-size: 1.06vw;
text-align: left;
line-height: 200%;
display: none;

}

.tr{
}