{% extends 'main/layout.html' %}
{% load static %}
{% block script %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>{% endblock %}
{% block title %}Перенос стиля{% endblock %}
{% block content %}

<form id="formImg">
    <input type="file" id="content_image" name="uploaded_file1" accept="image/jpeg,image/png">
    <input type="file" id="style_image" name="uploaded_file2" accept="image/jpeg,image/png">
    {% csrf_token %}
    <input type="submit" id="generate" value="Сгенерировать">
</form>

<script>
formImg.onsubmit = async (e) => {
    e.preventDefault();

    let response = await fetch('http://127.0.0.1:8080/proba/', {
        method: 'POST',
        body: new FormData(formImg)
    });

    let result = await response.blob();

    let outputImg = document.createElement('img');
    outputImg.src = URL.createObjectURL(result);

    document.body.appendChild(outputImg);
};
</script>





{% endblock %}