{% extends 'main/layout.html' %}
{% load static %}
{% block script %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>{% endblock %}
{% block title %}Перенос стиля{% endblock %}
{% block content %}


<script>
$(document).ready(function(event){
$(document).on('click', '#like', function(event){
    event.preventDefault()
    const handleSubmit = event => {
      event.preventDefault();
      const formData2 = new FormData();
      formData2.append(
        content_image,
        style_image,
      );

    const requestOptions = {
        method: 'POST',
        //headers: { 'Content-Type': 'multipart/form-data' }, // DO NOT INCLUDE HEADERS
        data: formData2
    };
      fetch('http://127.0.0.1:8080/proba/', requestOptions)
        .then(response => response.json())
        .then(function (response) {
          console.log('response')
          console.log(response)
            });
    }

})
});
</script>



<form enctype="multipart/form-data" method="post" action="http://127.0.0.1:8080/proba/">
   <input type="file" id="content_image" name="uploaded_file1">
   <input type="file" id="style_image" name="uploaded_file2">
    {% csrf_token %}
   <input type="submit" id="generate" value="Сгенерировать">
  </form>


<script>
const img1 = document.getElementById('content_image');

img1.addEventListener('change', (event) => {
    const image = event.target.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(image);
    reader.addEventListener('load', () => {
        localStorage.setItem('content_image', reader.result);
    });
});

const img2 = document.getElementById('style_image');
img2.addEventListener('change', (event) => {
    const image = event.target.files[0];
    const reader = new FileReader();
    reader.readAsDataURL(image);
    reader.addEventListener('load', () => {
        localStorage.setItem('style_image', reader.result);
    });
});

</script>
{% endblock %}