<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<button onclick="history.back();" style="margin: 10px">Назад</button>



<section class ="containerforms">
    <form class = "forms" action ="{% url 'login' %}" method = "post">
        <p style="font-family: CodeNext-Bold;">Вход</p>
        {{ login_form.email }}
        {{ login_form.password }}
        {% csrf_token %}
        <button type ="submit">Войти</button>
    </form>
</section>
</body>
</html>