
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body style="background-color: #F8F8F8;">
<button onclick="history.back();" style="margin: 10px">Назад</button>



<section class ="containerforms" style="background-color: #F8F8F8;">
    <form class = "forms" style = "Kamerik105Cyrillic-Bold;" action ="{% url 'login' %}" method = "post">
        <p style="font-family: Kamerik105Cyrillic-Bold; font-size: 20px;">Вход</p>
        {{ login_form.email }}
        {{ login_form.password }}
        {% csrf_token %}
        <button style="width:210px; font-size: 16px; font-family: Kamerik105Cyrillic-Bold;" type ="submit">Войти</button>
    </form>
</section>
</body>
</html>


